//
// Place your theme variables here
//

// PrestaShop Blocks
$ps-border-color : #d6d4d4;

// PrestaShop Products
$product-price-reduction-bg    : #f00;
$product-price-reduction-color : #fff;

$product-price-special-color   : #f00;
$product-price-old-color       : #b1b1b1;

// PrestaShop Product Labels
// @TODO SASS label colors

//
// Override vendor variables here
//

// Bootstrap
$border-radius-base  : 4px;
$border-radius-large : 4px;
$border-radius-small : 4px;
$enable-rounded:       false !default;
// @TODO Override top navbar collapse point

$font-size-base: 1rem; // Default is 14px
$font-size-h1: floor(($font-size-base * 2.1)); // ~29px (default: 36px)
$font-size-h2: floor(($font-size-base * 1.8)); // ~25px (default: 30px)
$font-size-h3: ceil(($font-size-base * 1.6));  // ~23px (default: 24px)
$font-size-h4: ceil(($font-size-base * 1.4));  // ~20px (default: 18px)
$font-size-h5: ceil(($font-size-base * 1.2));  // ~17px (default: 14px)
$font-size-h6: $font-size-base;                // ~14px (default: 12px)

// @TODO Overwrite theses variables to customize the colors of Bootstrap:
// @TODO Overwrite theses variables to customize the colors of Bootstrap:

// @see themes/community-theme-default/sass/vendor/bootstrap/bootstrap/_variables.scss
$brand-primary:  #26A5D4 !default; // #0091D1
$btn-primary-color:  #0088cc !default;
$brand-info: $brand-primary;
$brand-success:  $brand-primary;
$bc-header-color: #fad629;
$navbar-default-brand-color: #fad629;
$navbar-inverse-link-color: #fff;
$navbar-default-color: #fad629;
$navbar-inverse-color: #fff;
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #0091D1 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;
$brand-info:     #828282;
$brand-warning:  #EB5757;
$brand-danger:   #EB5757;
$gray-light: #F2F2F2;
$page-content-bg: #F2F2F2;
$page-body-bg: #F2F2F2;  //** Background color for `<body>`.
$body-bg:               #F2F2F2 !default;
//** Global text color on `<body>`.
$text-color:            #4F4F4F !default;

//** Global textual link color.
$link-color:            #333 !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            #111 !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;;


//typography
$font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.875rem;
// $font-weight-base: 
$line-height-base: 1.5;

$breadcrumb-bg: $gray-light;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              $brand-primary !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $brand-info !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;





// @see themes/community-theme-default/sass/vendor/bootstrap/bootstrap/_variables.scss
$state-success-bg: #dff0d8;
$state-info-bg:    #d9edf7;
$state-warning-bg: #fcf8e3;
$state-danger-bg:  #f2dede;
$state-danger-text: #fff;

$has-error-bg  : $state-danger-bg;
$has-warning-bg: $state-warning-bg;
$has-success-bg: $state-success-bg;
$alert-warning-bg: #fcf8e3;
$alert-warning-border: none;
$alert-warning-text: #fff;
//BOotstrap 4 fixes
// $nav-link-hover-bg: $dropdown-link-hover-bg;


// @see themes/community-theme-default/sass/vendor/bootstrap/bootstrap/mixins/_forms.scss
// Change the glow color of .form-control when in focus
$input-border-color-focus: $brand-primary;

// Font Awesome
$font-icon     : "Font Awesome 5 Solid";
$fa-css-prefix : fa;
$fa-font-path: "../fonts/font-awesome";

// Custom mixins + bourbon
// @import "bourbon";
@import "vendor_mixins";