
@import "./../../theme_variables";
@import "./../../vendor_variables";

#search_block_top {
  &__input{
    height: 48px;}
}
.search_block_top__input {
  height: 48px;
}
.search_query_top__button {
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0;
}

// .ac_results results is appended to body,
// use body.prestashop to override the default styles
.blocksearch {
  &.ac_results {
    border: 1px solid $ps-border-color;
    margin-top: -1px;
    li {
      &.ac_over {
        color: #fff;
        background-color: $brand-primary;
      }
    }
  }
}
