// Non-bootstrap confirmation alert from PrestaShop 1.5
.confirmation {
  background-color: #ffffe0;
  border: 1px solid #e6db55;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $line-height-base;
}
