.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  opacity: .20;
}

#layer_cart {
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 99;
  width: 84%;
  margin-right: 8%;
  margin-left: 8%;
  .cross {
    font-size: 2em;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
  }
}

.layer_cart_product {
  overflow: hidden;
  position: static;
  padding: 30px;
  .title {
    margin-top: 0;
  }
}
.cart-title {
  font-size: 16px;
  font-weight: bold;
}
.layer_cart_cart {
  background: #fafafa;
  border-left: 1px solid #ccc;
  padding: 30px 30px 170px 30px;
  position: relative;



  .title {
    margin-top: 0;
    padding-bottom: 0.35em;
    font-size: 16px;
    font-weight: bold;
  }

  .button-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 30px 20px;
  }
  .cart-title {
  font-size:16px;
  font-weight:bold;
  }

  .pager {
    margin: 0;
    @media (max-width: breakpoint-max(xs)) {
      > li > a {
        float: none;
        display: block;
        margin-top: 10px;
      }
    }
  }
}
