#header {
    border-bottom: 1px solid $ps-border-color;
}
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    position: fixed;
    top: 0;
    height: 56px;
}
.headroom--unpinned {
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.nav-header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    z-index:10;
    height: 96px;
    max-width: 1400px;
    background-color: #fff;
    &__logo {
        order: 1;
        margin-right: 1rem;
        margin-bottom: 0;
        &>img {
            width: auto;
            max-height: 75px;
        }
    }
    &__search {
        order: 2;
        width: 50%;
    }
    &__nav {
        order: 3;
        margin-left: 1rem;
        display: inline-flex;
        align-items: center;
        > div {
            margin: 0 1rem;
        }
    }
}

@media only screen and (max-width: 56em) {
    .nav-header {
        height: 130px;
        &__logo {
            order: 1;
            margin-right: 1rem;
            &>img {
            }
        }
        &__search {
            order: 3;
            width: 100%;
        }
        &__nav {
            order: 2;
            margin-left: 1rem;
        }
    }
}


.header-cookie-policy {
    max-width: 1400px;
    .alert {
        font-weight: normal;
        text-align: center;
        margin-bottom: 0;
        display: none;
        font-size: 0.72rem;
    }
}
body.cookie-policy-not-dismissed {
    .header-cookie-policy .alert {
        display: block;
    }
}


.nav-menu-categories {
    border-right: 1px solid $ps-border-color;
    border-left: 1px solid $ps-border-color;

    &__link {
        display: flex;
        width: 100%;
        padding-right: 12px;
        padding-left: 32px;
        box-sizing: border-box;
        line-height: 3.429rem;
        transition: 300ms linear all;
        &:after {
            -ms-grid-row-align: center;
            align-self: center;
            margin-left: 3.429rem;
            display: inline-block;
            vertical-align: middle;

            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 96' color='%23767676' fill='%23fff'%3E%3Cpath fill='currentColor' d='M38.121 74.121l-4.242-4.242L55.758 48 33.879 26.121l4.242-4.242L64.242 48 38.121 74.121z'/%3E%3C/svg%3E");
            content: "";
            display: block;
            height: 1.714rem;
            transform: rotate(90deg);
            width: 1.714rem;
            transition: all 0.2s ease;
        }

        &.is_open:after {
            transform: rotate(-90deg);
        }
        
    }
}

.nav-menu-container {
    border-top: 1px solid $ps-border-color;

}
.nav-menu {
    overflow: hidden;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;



}
.nav-header-menu {
    height: 3.429rem;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    &__bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
        height: 100%;
        // overflow-x: scroll;
        // padding-bottom: 32px;
        white-space: nowrap;
    }
    &__links {
        transition: transform .3s ease-in-out;
        overflow-x: hidden;
    }
    &__link {
        padding: 0 12px;
        &:first-child {
            padding-left: 0;
        }
    }
    &__arrow {
            background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-align: left;
    width: 40px;
    z-index: 2001;
    }
}