$header-banner-bg: #2c2125;
$page-body-bg: #edecec;
$page-content-bg: #fff;

body {
  background-color: $page-body-bg;
  &.content_only {
    background-color: $page-content-bg;
  }
}

#header-blocks {
  background-color: $page-content-bg;
  padding: 15px;
  position: relative;
}

#columns {
  position: relative;
  padding-bottom: 50px;
  padding-top: 15px;
}
#product #columns {
  background-color: $page-content-bg;
  border: 1px solid $ps-border-color;
}
#index {
  #columns {
    padding-top: 0;
  }
}

#header-banners {
  background-color: $header-banner-bg;
}

#header {
  background-color: $page-content-bg;
  .navbar {
    margin-bottom: 0;
  }
  .header-menu {
    background-color: $brand-primary;
    >.container {
    }
  }
}
.breadcrumb {
  margin-bottom: 0;
  background-color: $page-body-bg;
  padding: 15px 0 0;
  text-transform: uppercase;
  font-size: 12px;
}