.phone-link {
  color: #fad629;
  &:hover {
    color: #fff;
  }
}
.navbar-text {
  word-break:keep-all
}
.blockuserinfo-header {
    .dropdown-menu {
        min-width: 250px;
        padding-bottom: 0;
    }
    .dropdown-item {
        padding: 0.5rem 1.5rem;
        &__big {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__social {
          
          &-container {
            display: flex;
            padding: 0;
            flex-direction: row;
          }
          &-element {
            color: #fff;
            padding: 0.8em;
            text-align: center;
            flex-grow: 1;
            i {
              padding-right: 0.5em;
            }
          }
          &-facebook {
            background: #3b5998;
          }
          &-google {
            background: #dd4b39;
          }
        }
    }

}
